!.gitignore
ex1/
ex2/
ex3/bin/
ex3/expected_output/
ex3/input/
ex3/output/
ex3/manifest/
ex3/COMPILER
ex3/src/Lexer.java
ex3/src/Parser.java
ex3/src/TokenNames.java


!.gitignore
!ids.txt
!names.txt
!users.txt
/*/output/
/*/bin/
/Compilation_Tests/
/out/
/test_folder_proj1/
/.idea/
/*.iml
/ex4/custom_tests/
!/ex4/custom_tests/run_tests.sh
!/ex4/custom_tests/input/
!/ex4/custom_tests/expected/